<script type="text/x-handlebars" id="">
  
  <p class="logo">
    <img src="gridle-logo.png" height="40">
  </p>
  <div class="email_body" style="text-align: left;margin-top: 50px;">
      <h3>Hi {{user}},</h3>

      <p>Hope Gridle is working out for you!</p>
      
      <p>We are writing to speak with you about your trial expiration. Please do not worry, everything will work as normal regardless of whether you pay us or not because, Gridle, like most good things, has a version that is free forever. But with a really, really heavy heart, we have to move you back to that free plan which will take away some of the best functionalities that Gridle has to offer and serve you. Here’s what you will not be able to use on your current free plan.</p>

      <ol>
          {{#each userfunctionalities}}
            <li>{{functionality}}</li>
          {{/each}}
      </ol>

      <p class="empty" style="text-align: center;padding: 10% 15%;">
        <img src="empty-email.png" style="max-width: 100%;">
      </p>
      
      <p class="cta" style="text-align: center;margin: 0 auto;margin-top: 40px;margin-bottom: 40px;">
        <a style="text-decoration: none;background: #4385F5;padding: 15px 20px;color: white;border-radius: 4px;">Get back these features</a>
      </p>
      <p>Just click on the button above to upgrade!</p>

    <p>Also, it’s been a whole 1 month since you started using Gridle. How’s it working out for you? If you have any questions or suggestions, do reply to this mail and we’d be delighted to chat.</p>    

    <p>Don’t forget to smile. :)</p>

    <p>Thanks, <br>
    The Team, <br>
    Gridle.</p>
  </div>
</script>