<script type="text/x-handlebars" id="">
  <div class="pre-header" style="display: block;background: #fff;color: #fff;height: 1px;overflow: hidden;">
    Confirm your email id. :)
  </div>
  <p class="logo">
    <img src="gridle-logo.png" height="40">
  </p>
  <div class="email_body" style="text-align: left;margin-top: 50px;">
      <h3>Hi {{username}},</h3>

      <p>Thanks for choosing Gridle!</p>
      
      <p>We just wanted to drop a quick note mentioning that your account is not yet verified. We will have to sadly disable your account after {{expirarionDate}}. We just need a click of a button from you and we promise, we won’t bother you with this again.
</p>
      
      <p class="empty" style="text-align: center;padding: 10% 15%;">
        <img src="empty-email.png" style="max-width: 100%;">
      </p>
      
      <p class="cta" style="text-align: center;margin: 0 auto;margin-top: 40px;margin-bottom: 40px;">
        <a style="text-decoration: none;background: #4385F5;padding: 15px 20px;color: white;border-radius: 4px;">Yeap, this is my account.</a>
      </p>
    
    <p>Also, in case you are facing any problems or have suggestions, just hit reply or tweet to us <strong>@gridle_io</strong> with <strong>#mygridle</strong>. Contrary to what you might think, we reply blazingly fast.
    </p>    
  </div>
</script>