<script type="text/x-handlebars" id="">
  
  <p class="logo">
    <img src="gridle-logo.png" height="40">
  </p>
  <div class="email_body" style="text-align: left;margin-top: 50px;">
      <h3>Hi,</h3>

      <p>How are things?</p>
      
      <p>I have added you to our {{workspaceName}} workspace on Gridle. Gridle is a place to manage projects, tasks, files, chats and work together internally.</p>
      
      <p class="empty" style="text-align: center;padding: 10% 15%;">
        <img src="empty-email.png" style="max-width: 100%;">
      </p>
      
      <p class="cta" style="text-align: center;margin: 0 auto;margin-top: 40px;margin-bottom: 40px;">
        <a style="text-decoration: none;background: #4385F5;padding: 15px 20px;color: white;border-radius: 4px;">Take me to Gridle</a>
      </p>
    
    <p>Also, in case you are facing any problems or have suggestions, just hit reply. It will directly send out mail to our client success team. </p>

    <p>Cheers, <br>
     {{userName}}</p>
  </div>
</script>