<script type="text/x-handlebars" id="">
  
  <p class="logo">
    <img src="gridle-logo.png" height="40">
  </p>
  <div class="email_body" style="text-align: left;margin-top: 50px;">
      <h3>Hi ,</h3>

      <p>I just wanted to drop a quick reminder that we are waiting for you to join {{workspaceName}} on Gridle. It will make it really simple and easy for us to work together, manage tasks and share files. Please click the button below to join {{workspaceName}}
      </p>
      
      <p class="empty" style="text-align: center;padding: 10% 15%;">
        <img src="empty-email.png" style="max-width: 100%;">
      </p>
      
      <p class="cta" style="text-align: center;margin: 0 auto;margin-top: 40px;margin-bottom: 40px;">
        <a style="text-decoration: none;background: #4385F5;padding: 15px 20px;color: white;border-radius: 4px;">Join {{workspaceName}}</a>
      </p>
    
    <p>Also, in case you are facing any problems or have suggestions, just hit reply. It will directly send out mail to the client success team at Gridle.
    </p>    

    <p>Thanks, <br>
    {{username}}</p>
  </div>
</script>