<script type="text/x-handlebars" id="">
  <div class="pre-header" style="display: block;background: #fff;color: #fff;height: 1px;overflow: hidden;">
    Hey, check out this new Gridle thing!
  </div>
  <p class="logo">
    <img src="gridle-logo.png" height="40">
  </p>
  <div class="email_body" style="text-align: left;margin-top: 50px;">
      <h3>Hi,</h3>

      <p>How are things?</p>
      
      <p>Have you checked out Gridle? It’s got everything you need from managing tasks to files and from chat to projects while internally working together.</p>
      
      <p class="empty" style="text-align: center;padding: 10% 15%;">
        <img src="empty-email.png" style="max-width: 100%;">
      </p>
      
      <p class="cta" style="text-align: center;margin: 0 auto;margin-top: 40px;margin-bottom: 40px;">
        <a style="text-decoration: none;background: #4385F5;padding: 15px 20px;color: white;border-radius: 4px;">Check out Gridle</a>
      </p>
    
    <p>You could just reply to this mail and get in touch with the client success team at Gridle. They will be able to tell you more about it.</p>

    <p>Hope it works out.</p>

    <p>Cheers, <br>
     {{userName}}</p>
  </div>
</script>










