<!DOCTYPE html>
  <html>
  <head>
    <title>Email for you inline</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
   	<div class="email_background" style="background: #eee;padding: 20px;font-family: sans-serif;">
	    <div class="email_container" style="text-align: center;background: white;max-width: 500px;margin: 0 auto;padding: 40px;font-size: 14px;"><script type="text/x-handlebars" id="">
  <div class="pre-header" style="display: block;background: #fff;color: #fff;height: 1px;overflow: hidden;">
    Confirm your email id. :)
  </div>
  <p class="logo">
    <img src="gridle-logo.png" height="40">
  </p>
  <div class="email_body" style="text-align: left;margin-top: 50px;">
      <h3>Hi {{username}},</h3>

      <p>Hope you are well.</p>
      
      <p>Thank you for signing up with Gridle, could you just quickly click on the button below? It would help us verify that it’s you.</p>
      
      <p class="empty" style="text-align: center;padding: 10% 15%;">
        <img src="empty-email.png" style="max-width: 100%;">
      </p>
      
      <p class="cta" style="text-align: center;margin: 0 auto;margin-top: 40px;margin-bottom: 40px;">
        <a style="text-decoration: none;background: #4385F5;padding: 15px 20px;color: white;border-radius: 4px;">Yeap, this is my account.</a>
      </p>
    
    <p>Also, in case you are facing any problems or have suggestions, just hit reply or tweet to us <strong>@gridle_io</strong> with <strong>#mygridle</strong>. Contrary to what you might think, we reply blazingly fast.
    </p>    
  </div>
</script>
<div class="footer" style="border-top: 1px solid #33B67A;color: #c3c3c3;margin-top: 50px;text-align: center;font-size: 11px;">
		        <p>
		          <a href="https://www.linkedin.com/company/gridle-in" style="text-decoration: none;" target="_blank">
		            <img src="linkedin.png" height="30">
		          </a>
		          <a href="https://twitter.com/gridle_io" style="text-decoration: none;" target="_blank">
		            <img src="twitter.png" height="30">
		          </a>
		          <a href="https://www.facebook.com/gridle.in" style="text-decoration: none;" target="_blank">
		            <img src="facebook.png" height="30">
		          </a>
		        </p>
		        <p>
		          <span style="vertical-align:super;">Made by</span> 
		          <img src="gridle-logo-washed.png" height="24">
		        </p>
		        <p>Suite I3, CIIE Building IIM-A, IN, 380015</p>
		    </div>
	    </div>
   	</div>
  </body>
  </html>
