<script type="text/x-handlebars" id="">
  
  <p class="logo">
    <img src="gridle-logo.png" height="40">
  </p>
  <div class="email_body" style="text-align: left;margin-top: 50px;">
      <h3>Hi {{user}},</h3>

      <p>The verification link we sent the other day after you signed up on Gridle had expired. These things happen and we understand that you might have been caught up with something important. 
      </p>
      
      <p>For security reasons we’ve disabled your previous verification link. Don’t worry, we’ve got you covered. Click on the button below and you will be able to fetch another verification link. 
      </p>

      <p class="empty" style="text-align: center;padding: 10% 15%;">
        <img src="empty-email.png" style="max-width: 100%;">
      </p>
      
      <p class="cta" style="text-align: center;margin: 0 auto;margin-top: 40px;margin-bottom: 40px;">
        <a style="text-decoration: none;background: #4385F5;padding: 15px 20px;color: white;border-radius: 4px;">Get my Gridle account back</a>
      </p>
      <p>It will be great to have you back. :)</p>

    <p>Also, in case you are facing any problems or have suggestions, just hit reply or tweet to us <strong>@gridle_io</strong> with <strong>#mygridle</strong>. Contrary to what you might think, we reply blazingly fast.
    </p>    

    <p>Thanks, <br>
    The Team, <br>
    Gridle</p>
  </div>
</script>