<script type="text/x-handlebars" id="">
  
  <p class="logo">
    <img src="gridle-logo.png" height="40">
  </p>
  <div class="email_body" style="text-align: left;margin-top: 50px;">
      <h3>Dear {{username}},</h3>

      <p>I have made you the admin of workspace {{workspaceName}} after receiving the request from {{owner_username}}.
      </p>
      
      <p>I would like you to know that now you can {{#each userfunctionalities}}
        <strong>{{functionality}}</strong>
      {{/each}}  from {{workspaceName}}.</p>
      
      <p class="empty" style="text-align: center;padding: 10% 15%;">
        <img src="empty-email.png" style="max-width: 100%;">
      </p>
      
      <p class="cta" style="text-align: center;margin: 0 auto;margin-top: 40px;margin-bottom: 40px;">
        <a style="text-decoration: none;background: #4385F5;padding: 15px 20px;color: white;border-radius: 4px;">Access {{workspaceName}} as admin</a>
      </p>
    
    <p>Thanks, <br>
     The Team,
     Gridle.</p>
  </div>
</script>