<script type="text/x-handlebars" id="">
  
  <p class="logo">
    <img src="gridle-logo.png" height="40">
  </p>
  <div class="email_body" style="text-align: left;margin-top: 50px;">
      <h3>Hi {{username}},</h3>

      <p>How are things?</p>
      
      <p>{{workspaceName}} workspace which you created at Gridle has just expired. Worry not! I’ve got you covered and all your work is safe with me. Just activate {{workspaceName}} to pick up where you left off.   </p>
      
      <p class="empty" style="text-align: center;padding: 10% 15%;">
        <img src="empty-email.png" style="max-width: 100%;">
      </p>
      
      <p class="cta" style="text-align: center;margin: 0 auto;margin-top: 40px;margin-bottom: 40px;">
        <a style="text-decoration: none;background: #4385F5;padding: 15px 20px;color: white;border-radius: 4px;">Activate {{workspaceName}}</a>
      </p>
    
    <p>Also, I am trying but am afraid that I would not be able to hold onto your data after {{dateofDeleting}}. I will miss you. Please activate soon.</p>

    <p>Regards, <br>
     The Team,
     Gridle.</p>
  </div>
</script>