<script type="text/x-handlebars" id="">
  
  <p class="logo">
    <img src="gridle-logo.png" height="40">
  </p>
  <div class="email_body" style="text-align: left;margin-top: 50px;">
      <h3>Hi {{username}},</h3>

      <p>How are things?</p>
      
      <p>Just a friendly reminder that {{workspaceName}} which you created at Gridle on {{dateofCreation}} is about to expire on {{dateofExpiration}}. You will not be able to able login into your workspace after it has expired.</p>
      <p>
        Please activate your account before {{dateofExpiration}} and I will personally take care that you will be able to work just like before with Gridle.
      </p>
      <p class="empty" style="text-align: center;padding: 10% 15%;">
        <img src="empty-email.png" style="max-width: 100%;">
      </p>
      
      <p class="cta" style="text-align: center;margin: 0 auto;margin-top: 40px;margin-bottom: 40px;">
        <a style="text-decoration: none;background: #4385F5;padding: 15px 20px;color: white;border-radius: 4px;">Activate {{workspaceName}} workspace</a>
      </p>
    
    <p>Also, did you know that Gridle is the most preferred tool within modern companies like yours! Check out our <a><strong>Wall of love.</strong></a></p>

    <p>Regards, <br>
     The Team,
     Gridle.</p>
  </div>
</script>