<script type="text/x-handlebars" id="">
  
  <p class="logo">
    <img src="gridle-logo.png" height="40">
  </p>
  <div class="email_body" style="text-align: left;margin-top: 50px;">
      <h3>Dear {{username}},</h3>

      <p>I am glad to inform you that your workspace {{workspaceName}} has been top-upped again till the date {{dateofExpiration}}.
      </p>
      
      <p>You can check it out.</p>
      
      <p class="empty" style="text-align: center;padding: 10% 15%;">
        <img src="empty-email.png" style="max-width: 100%;">
      </p>
      
      <p class="cta" style="text-align: center;margin: 0 auto;margin-top: 40px;margin-bottom: 40px;">
        <a style="text-decoration: none;background: #4385F5;padding: 15px 20px;color: white;border-radius: 4px;">Go to {{workspaceName}}</a>
      </p>
    
    <p>Thanks, <br>
     The Team,
     Gridle.</p>
  </div>
</script>