<div class="footer" style="border-top: 1px solid #33B67A;color: #c3c3c3;margin-top: 50px;text-align: center;font-size: 11px;">
		        <p>
		          <a href="https://www.linkedin.com/company/gridle-in" style="text-decoration: none;" target="_blank">
		            <img src="https://s3-us-west-2.amazonaws.com/emailpublic/linkedin.png" height="30">
		          </a>
		          <a href="https://twitter.com/gridle_io" style="text-decoration: none;" target="_blank">
		            <img src="https://s3-us-west-2.amazonaws.com/emailpublic/twitter.png" height="30">
		          </a>
		          <a href="https://www.facebook.com/gridle.in" style="text-decoration: none;" target="_blank">
		            <img src="https://s3-us-west-2.amazonaws.com/emailpublic/facebook.png" height="30">
		          </a>
		        </p>
		        <p>
		          <span style="vertical-align:super;">Made by</span> 
		          <img src="https://s3-us-west-2.amazonaws.com/emailpublic/gridle-logo-washed.png" height="24">
		        </p>
		        <p>Suite I3, CIIE Building IIM-A, IN, 380015</p>
		    </div>
	    </div>
   	</div>
  </body>
  </html>