<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Email for you inline</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
   	<div class="email_background" style="background: #eee;padding: 20px;font-family: sans-serif;">
	    <div class="email_container" style="text-align: center;background: white;max-width: 500px;margin: 0 auto;padding: 40px;font-size: 14px;">