<!DOCTYPE html>
  <html>
  <head>
    <title>Email for you inline</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
   	<div class="email_background" style="background: #eee;padding: 20px;font-family: sans-serif;">
	    <div class="email_container" style="text-align: center;background: white;max-width: 500px;margin: 0 auto;padding: 40px;font-size: 14px;">

	    {{{content}}}
	    
			<div class="footer" style="border-top: 1px solid #33B67A;color: #c3c3c3;margin-top: 50px;text-align: center;font-size: 11px;">
		        <p>
		          <a href="https://www.linkedin.com/company/gridle-in" style="text-decoration: none;" target="_blank">
		            <img src="linkedin.png" height="30">
		          </a>
		          <a href="https://twitter.com/gridle_io" style="text-decoration: none;" target="_blank">
		            <img src="twitter.png" height="30">
		          </a>
		          <a href="https://www.facebook.com/gridle.in" style="text-decoration: none;" target="_blank">
		            <img src="facebook.png" height="30">
		          </a>
		        </p>
		        <p>
		          <span style="vertical-align:super;">Made by</span> 
		          <img src="gridle-logo-washed.png" height="24">
		        </p>
		        <p>Suite I3, CIIE Building IIM-A, IN, 380015</p>
		    </div>
	    </div>
   	</div>
  </body>
  </html>