<script type="text/x-handlebars" id="">
  
  <p class="logo">
    <img src="gridle-logo.png" height="40">
  </p>
  <div class="email_body" style="text-align: left;margin-top: 50px;">
       <h3>Hi <%= username %>,</h3>

      <p>If it was you who made a request to reset your password, just quickly click on the button below and we will set you up for a shiny new password.</p>
      
      <p class="empty" style="text-align: center;padding: 10% 15%;">
        <img src="empty-email.png" style="max-width: 100%;">
      </p>
      
      <p class="cta" style="text-align: center;margin: 0 auto;margin-top: 40px;margin-bottom: 40px;">
        <a style="text-decoration: none;background: #4385F5;padding: 15px 20px;color: white;border-radius: 4px;">Reset my Password</a>
      </p>
    
    <p>If it wasn’t you, don’t worry. Your account is safe. Just ignore this mail and it will all be fine. Promise.</p>
    
    <p>Also, in case you are facing any problems or have suggestions, just hit reply or tweet to us <strong>@gridle_io</strong> with <strong>#mygridle</strong>. Contrary to what you might think, we reply blazingly fast.</p>

    <p>Yours, <br>
     Donna.</p>
  </div>
</script>

<script type="text/javascript">
  var people = names.trim().join(', ');
</script>