
  
  <p class="logo">
    <img src="gridle-logo.png" height="40">
  </p>
  <div class="email_body" style="text-align: left;margin-top: 50px;">
      <h3>Hi <%=username%>,</h3>

      <p>It’s time. The below task is approaching it’s deadline. Just reminding you.</p>

      <ul>
        {{#each deadlinetasks}}
          <li><%=tasktitle%></li>        
        {{/each}}          
      </ul>

      
      <p class="empty" style="text-align: center;padding: 10% 15%;">
        <img src="empty-email.png" style="max-width: 100%;">
      </p>
      
      <p class="cta" style="text-align: center;margin: 0 auto;margin-top: 40px;margin-bottom: 40px;">
        <a style="text-decoration: none;background: #4385F5;padding: 15px 20px;color: white;border-radius: 4px;">Take me to Gridle</a>
      </p>
    
    <p>Also, in case you are facing any problems or have suggestions, just hit reply or tweet to us <strong>@gridle_io</strong> with <strong>#mygridle</strong>. Contrary to what you might think, we reply blazingly fast.</p>

    <p>Yours, <br>
     Donna.</p>
  </div>


<sc

ript type="text/javascript">
  var people = names.trim().join(